<tr>
  <td><%= brand.name %></td>
  <td><%= brand.position %></td>
  <td>
    <%= link_to '编辑', edit_admin_brand_path(brand) %>
    <%= link_to '删除', admin_brand_path(brand), method: :delete %>
  </td>
</tr>