<%= form_for [:admin, @product, @variant] do |f| %>
  <% @product.option_types.each do |option_type| %>
    <label><%= option_type.name %></label>
    <%#= f.select :option_variant_value, options_from_collection_for_select(option_type.option_values, :name, :name) %>
    <%= f.collection_select 'option_value_ids', option_type.option_values, :id, :presentation,
                            { include_blank: true }, { name: 'variant[option_value_ids][]', class: 'select2' } %>
  <% end %>
  <label>价格</label>
  <%= f.text_field :price %>


  <button type="submit" class="btn btn-default">创建</button>
  <button type="reset" class="btn btn-default">取消</button>
<% end %>